* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    background: #171414;
}

main {
    width: 350px;
    background: #2f2d2d;
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-align: center;
}

h1 {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    color: #817878;
}

section {
    box-shadow: rgba(0, 0, 0, 0.2) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.3) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.5) 0px 16px 8px, rgba(0, 0, 0, 0.2) 0px 32px 16px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
}

h3 {
    color: #817878;    
}

.box-one {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

label {
    display: flex;
    flex-direction: column;
}

.middle-box {
    width: 1px;
    height: 90px;
    background: linear-gradient(90deg, rgba(36,103,113,1) 0%, rgba(129,120,120,1) 94%);
}

.button-img {
    height: 30px;
    position: relative;
    top: 30px;
    right: 14px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.9) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
}

.button-img:active {
    opacity: 0.5;
    border-color: #fff;
}

.spinner-animation {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.select-from, .select-to {
    width: 60px;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(255, 255, 255, 0.8) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, #000000 0px 30px 60px -30px;
    appearance: none;
    padding-left: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.box-two {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.currency-box {
    width: 45%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.1) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.3) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.2) 0px 16px 8px, rgba(0, 0, 0, 0.2) 0px 32px 16px;
    border-radius: 10px;
    padding: 10px;
}

.currency-name-from, .currency-name-to {
    font-size: 14px;
    color: #817878;
    line-height: 18px;
    letter-spacing: 1px;
}

.currency-value-from, .currency-value-to {
    font-size: 16px;
    color: #817878;
    font-weight: 700;
    line-height: 18px;
}

.input-value {
    width: 100%;
    height: 40px;
    background: #2f2d2d;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.3) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.5) 0px 16px 8px, rgba(0, 0, 0, 0.2) 0px 32px 16px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: #817878;
    font-size: 15px;
    margin-top: 20px;
}